  <!DOCTYPE html>
  <html>
    <head>
      <title>Welcome Pierre</title>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
        <form action="/vendors" method="post">
            <label for="vendor">Add Vendor:</label>
            <input id="vendor" name="vendor" type="text">
            <button type="submit">Submit</button>
        </form>
    </body>