<!DOCTYPE html>
<html>
    <head>
    <title>PierresBakery</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Bakery Tracker</h1>
      <h2><a href='/vendors/new'>Add a vendor</a></h2>
      <h2><a href='/vendors'>See Vendors</a></h2>
  </body>
</html>