<!DOCTYPE html>
<html>
    <head>
    <title>PierresBakery</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Bakery Tracker</h1>
  </body>
</html>