<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>PierresBakery Orders</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  
  <body></body>
    <a href='/vendors/new'>Add another Order</a>
    <a href='/vendors'>View Vendors</a>

  <h1>Vendor Orders:</h1>
    <p>@Model["order"].Title</p>
    <p>@Model["order"].Description</p>
    <p>@Model["order"].Price</p>
    <p>@Model["order"].Date</p>
  </body>
</html>